<html>
<body>
<h1>Reset Password</h1>
<p>
  Please click the following link:
</p>
<p><%= link_to edit_password_url({reset_token: @user.reset_token }), edit_password_url({reset_token: @user.reset_token })%></p>

</body>
</html>