<h1 id="authors_header">Authors</h1>

<div id="authors_description">
  <% @authors.each do |author| %>
    <ul>
      <li><%= author.first_name %> <%= author.last_name %></li>
      <li><%= author.bio %></li>
    </ul>

  <% end %>
</div>