<%= @products.name %> is in your cart





<div class="shopping_cart">
  <div class="shopping_cart_title">
    <p>My Cart</p>
  </div>
  <div class="row">
    <div class="cell_1">
      <p>Book Name Will Go Here</p>
    </div>
    <div class="cell_quantity">
      <p>Quantity Go Here</p>
    </div>
    <div class="cell">
      <p>Price Goes Here</p>
    </div>
  </div>
  <div class="row">
    <div class="cell">
      <p>Book Name Will Go Here</p>
    </div>
    <div class="cell_quantity">
      <p>Quantity Go Here</p>
    </div>
    <div class="cell">
      <p>Price Goes Here</p>
    </div>
  </div>
</div>

<div class="total">
  <div class="total_title">
    <p>Total</p>
    <div class="button">
      <%= submit_tag "Checkout" %>
    </div>
  </div>
  </div>




