.errors {
  padding-top: 10px;
  color: red;
  margin-left: 11.5%;
}

ul.errors {
  padding-bottom: 1em;
}

.product_errors {
  padding-bottom: 1em;
}

.product_errors li {
  list-style: none;
  color: red;
  margin-left: 0;
  padding: .2em 0;
}

.flash_notice {
  color: green;
  margin: 0 auto;
  padding:1em;
  p{
    text-align:center;
    border: 1px solid #96C56F;
    background-color:rgba(144,238,144,.2);
    padding:.7em;
    border-radius:4px;
  }
}