/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    font-family: Lato, sans-serif;
}

.content_container {
    width: 100%;
}

.product_container {
    margin-left: 20%;
    margin-bottom: 2em;
}

.product_picture {
    display: inline-block;
    margin: .5em;
    width: 200px;
    text-align: right;
}

.product_picture img {
    height: 160px;
}

.product_description {
    display: inline-block;
    vertical-align: top;
    font-size: 1.2em;
    line-height: 2em;
    margin-left: 20px;
}

.product_description li {
    list-style-type: none;
}

.product_price {
    color: red;
}

.errors {
    color: red;
    margin-left: 120px;
}

ul.errors {
    padding-left: 0;
    padding-bottom: 1em;
}

.errors li {
    list-style: none;
    color: red;
    margin-left: 0;
    padding: .2em 0;
}

.flash_notice {
    font-size: 20px;
    padding: 15px;
    color: red;
}
