<div class="new-charge-amount">
<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: <%=  session[:total] %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key= "<%=  ENV['TEST_PUBLISHABLE_KEY'] %>"
          data-description="Cart Total: <%=  session[:total] %>"></script>
<% end %>
</div>
